/* kopieer dit hele stuk voor niew artikel */

.art_content1 {
  background-image: url('../Images/Leiden.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Cover the entire div with the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center center; /* Center the background image both horizontally and vertically */
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 25px;
  padding: 1%;
  position: relative;
}

.art_content1 button {
  position: absolute; /* Position absolutely within the parent div */
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 50px; /* Adjust the distance from the right */
  padding: 10px 20px; /* Add padding to increase button size */
  font-size: 16px; /* Increase the font size */
}

/* einde van de artikel kopie */

/* kopieer dit hele stuk voor niew artikel */

.art_content2 {
  background-image: url('../Images/Hubble.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Cover the entire div with the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center center; /* Center the background image both horizontally and vertically */
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 25px;
  padding: 1%;
  position: relative;
}

.art_content2 button {
  position: absolute; /* Position absolutely within the parent div */
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 50px; /* Adjust the distance from the right */
  padding: 10px 20px; /* Add padding to increase button size */
  font-size: 16px; /* Increase the font size */
}

/* einde van de artikel kopie */


@font-face {
  font-family: Mori;
  src: url("../fonts/Mori/PPMori-Variable.ttf") format("truetype");
}

@font-face {
  font-family: Gradient;
  src: url("../fonts/Gradient_comic_Premium_SuperiorType/GradientComicPremium-Black-fa465abc47207167aee144d3c6fcf02c.ttf") format("truetype");
}

font-family: aw-conqueror-didot, serif;
font-weight: 400;
font-style: normal;

font-family: freight-big-pro, serif;
font-weight: 400;
font-style: normal;

font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: normal;

font-family: aktiv-grotesk-extended, sans-serif;
font-weight: 400;
font-style: normal;

font-family: aktiv-grotesk-extended, sans-serif;
font-weight: 800;
font-style: normal;

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 500;
font-style: normal;

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 600;
font-style: normal;

body{
  height: 200vh;
  background-color: #111111;
  overflow-x: hidden;
}

h1{
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 800;
  font-style: normal;
}


.navcontact a{
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 15px;
}

.header-left a{
  position: fixed;
  z-index: 4;
  margin: auto;
  top: 0;
  left: 0;
  margin: 1vw;
  line-height: normal;
}

.contactlist{
  padding-top: 2%;
}

.contactlist h1{
  text-align: center;
  font-size: calc(4vh + 5vw);
  padding: 1vh 0vh
}

.contactlist a{
  text-decoration: none;
  color: black;
}

.contactlist a:hover{
  text-decoration: line-through;
  text-decoration-thickness: 25px;
}


.flexbox{
    display: flex;
    justify-content: center;
}

.art_title h2 {
  color: white;
  font-family: Mori;
  font-weight: 700;
  font-size: 40px;
  margin: 0; /* Remove default margin for h2 */
  margin-left: 30px; /* Add margin to the left */
  margin-top: 5px;
  margin-bottom: 50%;
}

.art_date h3 {
  color: white;
  font-family: Mori;
  font-weight: 600;
  font-size: 24px;
  margin: 0; /* Remove default margin for h3 */
  margin-left: 30px; /* Add margin to the left */
  margin-top: auto; /* Align to the bottom */
  padding-top: 5px; /* Adjust the spacing between the two h3 elements */
}

.art_subject h3 {
  color: #ededed;
  font-family: Mori;
  font-weight: 600;
  font-size: 24px;
  margin: 0; /* Remove default margin for h3 */
  margin-left: 30px; /* Add margin to the left */
  margin-top: -20%; /* Align to the bottom */
  padding-top: 5px; /* Adjust the spacing between the two h3 elements */
}
