*{
 margin: 0;
 padding: 0;
 overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}


h2{
  font-family: 'Euclid CircularA', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: calc(24px + 1vw);
  text-transform: uppercase;
  color: white;
  mix-blend-mode: difference;
}

h4{
  font-family: 'Euclid CircularA', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #2a2a2a;
  line-height: normal;
  text-transform: uppercase;
  text-align: left;
  font-size: 3vw;
}

h5{
  font-family: 'Euclid CircularA', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #2a2a2a;
  line-height: normal;
  text-transform: uppercase;
  text-align: left;
  font-size: 2vw;
}

h6{
  font-family: 'Euclid CircularA', sans-serif;
  font-weight: bold;
  font-style: normal;
    color: #2a2a2a;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.5vw;
}

p{
  font-family: 'Euclid CircularA', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #2a2a2a;
  line-height: normal;
  text-transform: uppercase;
  text-align: left;
  font-size: 16px;
}

a{
  font-family: 'Euclid CircularA', sans-serif;
  font-weight: bold;
  font-style: normal;
}

.title{
  margin-top: 20%;
}

.title h1{
  font-family: 'Euclid CircularA', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #2a2a2a;
  line-height: normal;
  text-align: left;
  font-size: 5vw;
}


.seg1{
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 1;
}

.logo img{
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 85%;
  z-index: 2;
}

.header-left h2{
  position: fixed;
  z-index: 4;
  margin: auto;
  top: 0;
  left: 0;
  margin: 1vw;
  line-height: normal;
}

.header-right h2{
  position: fixed;
  z-index: 4;
  margin: auto;
  top: 0;
  right: 0;
  margin: 1vw;
  line-height: normal;
}

header a :hover{
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.background-video-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

video.cover {
  width: 100%;
  min-width: 240vh;
  height: auto;
}

.seg2{
  position: relative;
  width: 100vw;
  background-color: white;
  z-index: 3;
  padding-bottom: 10%;
}

.box1{
  align-items: center;
  text-align: center;
  width: 75vw;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.seg3{
  height: 120vh;
  width: 100vw;
  background-color: black;
  z-index: 1;
}

.gallery-line{
  width: 100%;
  height: 1px;
  margin-top: 1vw;
  background-color: #2a2a2a;
}

.galleryimg img{
  border-radius: 8px;
}

.img-thumbnail{
  background-color: white;
  border: 0px;
  border-radius: 0.25rem;
}

figure {
      margin: 15px 0;
    }

    figcaption {
      text-align: left;
      margin-top: 1vh;
    }

    .figtop p{
      display: inline;
    }

    .figtags{
      float: left;
      text-align: left;
      margin-top: 1vh;
    }

    .figyear{
      text-align: right;
      margin-top: 1vh;
    }

    .grayscale {
      filter: grayscale(0);
    }

    .grayscale:hover {
      filter: grayscale(20%)
    }

    .galleryvid {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
    }

    .galleryvid iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }


.seg4{
  position: relative;
  height: 70vh;
  width: 100vw;
  background-color: white;
  z-index: 3;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  text-align: center;
}

.seg4 h3{
  color: white;
  font-size: 30px;
  margin-top: 5%;
}

.seg4 h1, .seg4 h2{
  display: inline;
  line-height: normal;
  font-size: 8vh;
  color: grey;
  font-weight: Medium;
}

.contactlist{
  margin-top: 6%;
}

.contactlist h1:hover{
  color: #2a2a2a;
}

.seg4 a{
  text-decoration: none;
}

.seg4 a:hover{
  text-decoration: none;
}


.seg5{
  position: relative;
  height: 40vh;
  width: 100vw;
  background-color: white;
  z-index: 3;
  text-align: center;
}

.Banner_Logo img{
  position: absolute;
  width: 90%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  line-height: normal;
}

.background-video-banner{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

video.cover2 {
  width: 100%;
  min-width: 240vh;
  height: auto;
}


.seg6{
  position: relative;
  height: 50vh;
  width: 100vw;
  background-color: white;
  z-index: 3;
  padding-top: 2%;
  line-height: normal;
}

.seg6 a{
    color: #2a2a2a;
    text-decoration: none;
}

.seg6 a:hover{
    color: #2a2a2a;
    text-decoration: underline;
}

footer h2{
  font-size: 3vw;
    line-height: normal;
}

footer h5{
  color: #2a2a2a;
    line-height: normal;
}

footer p{
  color: #2a2a2a;
    line-height: normal;
}

*::-webkit-media-controls-panel {

  display: none!important;

  -webkit-appearance: none;

}

*::--webkit-media-controls-play-button {

  display: none!important;

  -webkit-appearance: none;

}

*::-webkit-media-controls-start-playback-button {

  display: none!important;

  -webkit-appearance: none;

}

video::-webkit-media-controls {
    display:none !important;
}
