h2{
  font-family: 'Founders_Grotesk';
  font-size: calc(30px + 1vw);
  color: white;
  mix-blend-mode: difference;
}

@font-face {
  font-family: Founders_Grotesk;
  src: url("../fonts/Founders_Grotesk/FoundersGrotesk-Regular.otf") format("opentype");
}

@font-face {
  font-family: Founders_Grotesk;
  font-weight: bold;
  src: url("../fonts/Founders_Grotesk/FoundersGrotesk-Semibold.otf") format("opentype");
}

body{
  background-color: green;
}
