/* fonts */
@font-face {
  font-family: 'EuclidCircularA';
  src: url('../fonts/Euclid/EuclidCircularA-Bold-WebTrial.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('../fonts/Euclid/EuclidCircularA-BoldItalic-WebTrial.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('../fonts/Euclid/EuclidCircularA-Light-WebTrial.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('../fonts/Euclid/EuclidCircularA-LightItalic-WebTrial.woff') format('woff');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('../fonts/Euclid/EuclidCircularA-Regular-WebTrial.woff') format('woff');
  font-weight: 400; /* Use the appropriate numerical value for medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('../fonts/Euclid/EuclidCircularA-RegularItalic-WebTrial.woff') format('woff');
  font-weight: 400; /* Use the appropriate numerical value for medium weight */
  font-style: italic;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('../fonts/Euclid/EuclidCircularA-Medium-WebTrial.woff') format('woff');
  font-weight: 500; /* Use the appropriate numerical value for medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('../fonts/Euclid/EuclidCircularA-MediumItalic-WebTrial.woff') format('woff');
  font-weight: 500; /* Use the appropriate numerical value for medium weight */
  font-style: italic;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('../fonts/Euclid/EuclidCircularA-Semibold-WebTrial.woff') format('woff');
  font-weight: 600; /* Use the appropriate numerical value for medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('../fonts/Euclid/EuclidCircularA-SemiboldItalic-WebTrial.woff') format('woff');
  font-weight: 600; /* Use the appropriate numerical value for medium weight */
  font-style: italic;
}


/* Hide the scrollbar for Webkit browsers (Chrome, Safari) */
/* Hide the scrollbar but still allow scrolling */
body {
  overflow: hidden;  /* Hide scrollbars */
}

body::-webkit-scrollbar {
  display: none;  /* For Webkit browsers */
}

body {
  overflow-y: scroll;  /* Still allow scrolling */
}

/* kopieer dit hele stuk voor niew artikel */

.image-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Makes the container take full viewport height */
}

/* Image style to position it at the top of the page and take full width */
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* You can adjust the height if needed */
  object-fit: cover; /* Ensures the image covers the entire area */
  animation: fade-out linear forwards;
  animation-timeline: view();
  animation-range: exit 200px;
}

@keyframes fade-out{
  to {opacity: 0;}
}


/* Title style to overlay on top of the image */
.title {
  position: absolute;
  top: 30%; 
  left:50%;
  text-align: center;/* Centers the title vertically */
  transform: translate(-50%, -50%); /* Centers the title exactly */
  color: white; /* White text for contrast, adjust as necessary */
  z-index: 1; /* Ensure the title appears above the image */
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
}

.arrowwdwn img{
  position: absolute;
  top: 48%; 
  left:48%;
  text-align: center;/* Centers the title vertically */
  transform: translate(-50%, -50%); /* Centers the title exactly */
  color: white; /* White text for contrast, adjust as necessary */
  z-index: 1; /* Ensure the title appears above the image */
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
  animation: bounce 1s ease-in-out infinite;
  cursor: pointer; /* Change cursor to indicate it can be clicked */
}

@keyframes bounce {
  0% {
    transform: translateY(0); /* Start at the original position */
  }
  50% {
    transform: translateY(-8px); /* Move up 10px */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}

.subtitle h2{
  margin-bottom: 50px;
}


.art button {
  position: absolute; /* Position absolutely within the parent div */
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 50px; /* Adjust the distance from the right */
  padding: 10px 20px; /* Add padding to increase button size */
  font-size: 16px; /* Increase the font size */
}



/* einde van de artikel kopie */

body{
  background-color: black;
  overflow-x: hidden;
}

h1{
  font-family: 'EuclidCircularA', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: white;
}

h6{
  font-family: 'EuclidCircularA', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #ccc;
}

.navcontact a{
  color: black;
  text-decoration: none;
}

.navcontact a:hover{
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 15px;
}

.header-left a{
  position: fixed;
  z-index: 4;
  margin: auto;
  top: 0;
  left: 0;
  margin: 1vw;
  line-height: normal;
}

.contactlist{
  padding-top: 2%;
}

.contactlist h1{
  text-align: center;
  font-size: 5vw;
  padding: 1vh 0vh
}

.contactlist a{
  text-decoration: none;
  color: black;
}

.contactlist a:hover{
  text-decoration: line-through;
  text-decoration-thickness: 25px;
}

.art_title h2 {
  color: white;
  font-family: 'EuclidCircularA', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  margin: 0; /* Remove default margin for h2 */
  margin-left: 30px; /* Add margin to the left */
  margin-top: 5px;
  margin-bottom: 20vh;
}

.art_date h3 {
  color: white;
  font-family: 'EuclidCircularA', sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 24px;
  margin: 0; /* Remove default margin for h3 */
  margin-left: 30px; /* Add margin to the left */
  margin-top: auto; /* Align to the bottom */
  padding-top: 5px; /* Adjust the spacing between the two h3 elements */
}

.art_subject h3 {
  color: #ededed;
  font-family: 'EuclidCircularA', sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 24px;
  margin: 0; /* Remove default margin for h3 */
  margin-left: 30px; /* Add margin to the left */
  margin-top: -20%; /* Align to the bottom */
  padding-top: 5px; /* Adjust the spacing between the two h3 elements */
}

        article {
          max-width: 800px; /* Limit the width of the article */
          margin: 0 auto; /* Center the article horizontally */
          padding: 20px; /* Add some padding around the article */
          text-align: left; /* Center-align text */
          border-radius: 8px; /* Optional: Rounded corners */
      }


      article h2 {
          margin-bottom: 20px; /* Add space below the header */
          color: #ccc;
      }

      h6{
        font-family: 'EuclidCircularA', sans-serif;
        font-weight: bold;
        font-style: normal;
        color: #ccc;
      }

    article h3 {
      font-family: 'EuclidCircularA', sans-serif;
      font-weight: bold;
      font-style: normal;
        font-size: 1.5em;
        color: #ccc;
        margin-bottom: 10px;

    }

    article p {
        font-size: 1em;
        line-height: 1.6;
        color: #ccc;
        margin-bottom: 20px;
        text-align: justify;
    }

      blockquote.twitter-tweet {
        max-width: 100%; /* Make the blockquote span the full width of its container */
        margin: 20px auto; /* Center the blockquote within the article */
        padding: 10px; /* Add some padding for spacing inside the blockquote */
        box-sizing: border-box; /* Ensure padding doesn't affect total width */
        background-color: #f1f1f1; /* Optional: Add a subtle background color */
        border-left: 4px solid #ccc; /* Optional: Add a left border for emphasis */
        border-radius: 4px; /* Optional: Rounded corners for the blockquote */
    }

    .image-container {
      position: relative; /* Set relative positioning for the container */
      width: 100%; /* Ensure the container spans full width */
  }

  .image-container img {
      width: 100%; /* Make the image responsive */
      display: block; /* Remove any gaps below the image */
  }

  .image-source {
      position: absolute; /* Position the text relative to the container */
      bottom: 10px; /* Position the text 10px from the bottom */
      right: 10px; /* Position the text 10px from the right */
      color: white; /* Set text color to white */
      padding: 5px 10px; /* Add padding around the text */
      border-radius: 4px; /* Optional: Rounded corners */
      font-size: 12px; /* Set a smaller font size */
      font-family: Arial, sans-serif; /* Optional: Set font */
  }

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 10vh;
}

.hidden {
  opacity: 0;
  filter: blur (5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.logos {
  display: flex;
}

.logo img {
  width: 100px; 
  height: 100px; 
  margin: 5px;
  border-radius: 50%; /* Makes the image round */
  object-fit: cover; /* Ensures the image scales properly without distortion */
  transition: border 0.1s ease; /* Smooth transition for the border change */
}

.logo img:hover {
    border: 6px solid white; /* Add a white border on hover */
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}

.logo:nth-child(3) {
  transition-delay: 400ms;
}

.logo:nth-child(4) {
  transition-delay: 600ms;
}

.logo:nth-child(5) {
  transition-delay: 800ms;
}



.timeline-container {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 30vh;
  height: 100vh;
  width: 200px;
  padding: 20px;
  overflow-y: auto;
}

.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
}

.timeline li {
  margin: 20px 0;
  font-size: 1vw;
  color: black;
  transition: color 0.3s;
}

.timeline li.active {
  color: white;
  font-weight: bold;
}

.datum h1{
  margin-left: -10vw;
  margin-top: 10vh;
  color;
  font-size: 4vw;
}

.scroll-watcher {
  width: 10px;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: -1;
  background-color: white;
  scale: 1 0;
  transform-origin: top;

  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to { scale: 1 1;}
}

