@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-Regular-WebXL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-RegularItalic-WebXL.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-Light-WebXL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-LightItalic-WebXL.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-Medium-WebXL.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-MediumItalic-WebXL.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-Semibold-WebXL.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-SemiboldItalic-WebXL.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-Bold-WebXL.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-BoldItalic-WebXL.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* Circular B */

@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-Regular-WebXL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-RegularItalic-WebXL.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-Light-WebXL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-LightItalic-WebXL.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-Medium-WebXL.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-MediumItalic-WebXL.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-Semibold-WebXL.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-SemiboldItalic-WebXL.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-Bold-WebXL.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-BoldItalic-WebXL.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* Flex */

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Regular-WebXL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-RegularItalic-WebXL.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Thin-WebXL.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-ThinItalic-WebXL.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Ultralight-WebXL.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-UltralightItalic-WebXL.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Light-WebXL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-LightItalic-WebXL.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Medium-WebXL.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-MediumItalic-WebXL.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Semibold-WebXL.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-SemiboldItalic-WebXL.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Bold-WebXL.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-BoldItalic-WebXL.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #fff; 
    position: relative; 
    font-family: 'Euclid CircularA';
}

body {
    overflow: hidden;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    overflow-y: scroll; 
  }
  
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 36px;
}

.burger-menu {
    position: absolute;
    right: 16px;
    font-size: 40px;
    font-weight: bold;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.topnav{
    text-align: center;
}

.topnav h3{
    text-align: center;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .topnav h3{
        font-size: 1.5rem;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.topnav #myLinks {
    display: none;
  }

.logo {
    height: 40px;
    max-width: 100%;
}

.articleSectionTitle{
    text-align: center;
    margin-top: 10px;
}

.articleSectionTitle h1 {
    color: #aaa;
    font-family: 'Euclid Flex', sans-serif;
    font-weight: 200;
    font-size: 7vw;
    margin: 0 0 8px;
}

.grid-container {
    display: grid;
    gap: 32px;
    padding: 32px;
}

@media (min-width: 701px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.article {
    overflow: hidden;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.507) 20%, rgba(69, 18, 18, 0.75) 70%),
        url('../Images/Peruse/Rheinische.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    padding-left: 4vw;
    border-radius: 25px;
    display:  flex;
    align-items: flex-end;
    height: 50vh;
    transition: transform 1s ease; 
    position: relative;
}

@media (max-width: 700px) {
    .article {
        height: 30vh;
    }
}

.Barticle{
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(87, 49, 7, 0.904) 70%),
        url('../Images/Peruse/CafeExtraJoss.webp');
}

.Aarticle{
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(129, 50, 50, 0.904) 70%),
        url('../Images/Peruse/AirCompany.webp');
}

.article:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.article-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.article-content {
    width: 100%;

}

@media {
    .article-body {
        flex-direction: row; 
        align-items: flex-start; 
    }

    .article-content {
        flex: 1; 
    }

    .meta {
        flex: 0 0 25%; 
        text-align: right; 
        padding: 8px 10px;
    }
}


.meta {
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    gap: 1px;
    font-size: 12px;
    padding: 0px;
    margin-top: auto; /* Push to the bottom */
}

.meta h4 {
    color: white;
    font-family: 'Euclid CircularA', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    margin: 0;
}

@media (max-width: 768px) {
    .meta h4  {
        font-size: 0.7rem;
        font-weight: 700;
    }
}

.meta p{
    color: #C0C0C0;
    font-family: 'Euclid CircularA', sans-serif;
    font-weight: 300;
    font-size: 1vw;
    margin: 0;
}

@media (max-width: 768px) {
    .meta p  {
        font-size: 0.6rem;
        font-weight: 300;
    }
}

.metabubbles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px; 
    align-items: center;
    margin-bottom: 5px;
}

.read-time,
.date {
    text-align: right; 
    margin: 0; 
}

.tag {
    padding: 2px 8px;
    border-radius: 14px;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
}

@media (max-width: 768px) {
    .tag  {
        font-size: 0.6rem;
        padding: 2px 8px;
        font-weight: 600;
        border-radius: 14px;
        font-size: 10px;
        color: #fff;
    }
}

.finance {
    background-color: #DF5F5F;
}

.feature {
    background-color: #4EBFAC;
}

.feature img{
    width: 12px;
}

.tech {
    background-color: #3f51b5; 
}

.read-time {
    color: #aaa;
}

.date {
    color: #777;
}

.article-content {
    padding-left: 0vw;
    flex: 1; 
    min-width: 0;
}

.article-content h2 {
    font-family: 'Euclid CircularA', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    margin: 0 0 8px;
}

ul {
    padding: 0;
    padding-left: 20px;
    margin: 0;
}

@media (max-width: 768px) {
    .article-content h2 {
        font-size: 1.3rem;
        font-weight: 600;
        font-style: normal;
    }
}

.article-content li {
    color: #aaa;
    font-family: 'Euclid CircularA', sans-serif;
    font-weight: 500;
    font-size: 1vw;
}

@media (max-width: 768px) {
    .article-content li {
        font-size: 0.7rem;
        font-weight: 500;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
    color: inherit;
    text-decoration: none;
}

/* Footer */
#back-to-top {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    z-index: 1000;
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Start off-screen */
    pointer-events: none; /* Prevent interaction when hidden */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}
  
  #back-to-top.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Reset position */
    pointer-events: auto; /* Enable interaction */
  }

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
    text-decoration: line-through;
    text-decoration-thickness: 4px;
}

.footer h4 {
    color: #aaa;
    font-family: 'Euclid CircularA', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-align: right;
    margin-right: 5%;
    margin-bottom:10px;
    padding: 0px 16px;
}

@media (max-width: 768px) {
    .footer h4 {
        font-size: 16px;
    }
}

.scrollwatcher {
    height: 8px;
    display: block;
    position: relative;
    background-color: white;
    width: 100%;
    transform-origin: left;
    transform: scaleY(0);
    transition: transform 0.1s ease-out;
}

.scroll {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 2100px;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    border: white;
    border: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .scroll {
        width: 700;
    }
}


.scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time)*-1);

}

.scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time)/-2);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

.scroll div span {
    display: inline-flex;
    margin: 10px;
    letter-spacing: 0.2em;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
    background-color: black;
}

.scroll div span:hover {
    cursor: pointer;
}

.imgBox div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox img {
    max-width: 100px;
    scale: 0.8;
}

.hidden {
    display: none !important; /* The !important might be needed if other styles are overriding */
    opacity: 0;
    visibility: hidden;
}

.visible {
    display: flex !important; /* The !important might be needed if other styles are overriding */
    opacity: 1;
    visibility: visible;
}




.Longread{
        margin: 20px;
}

.Longread-Article{
    z-index: -1;
    background-color: #451212;
}

.Longread-Text{
    margin-left: 15px;
    margin-right: 15px;
}

.article-content h1 {
    font-family: 'Euclid CircularA', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    margin: 0 0 8px;
}

@media (max-width: 768px) {
    .article-content h1 {
        font-size: 2rem;
    }
}

.Longread-Text h4 {
    font-family: 'Euclid CircularA', sans-serif;
    font-weight: 500;
    font-size: 1.8vw;
    color: #C0C0C0;
}

@media (max-width: 768px) {
    .Longread-Text h4 {
        font-size: 1rem;
    }
}

.longread-date{
    color: #777;
    padding-right: 90%;
}

@media (max-width: 1500px) {
.longread-date {
    padding-right: 50%;
}}

.copyright p{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.encasing{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure it is above the content */
    cursor: pointer; /* Change cursor to pointer */
}

.Article-Header-Image{
    background-image: 
    linear-gradient(to bottom, rgba(69, 18, 18, 0) 50%, rgba(69, 18, 18, 1) 80%),
    url('../Images/Peruse/CafeExtraJoss.webp');
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: relative;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .Article-Header-Image{
        height: 40vh;
        background-image: 
    linear-gradient(to bottom, rgba(69, 18, 18, 0) 30%, rgba(69, 18, 18, 1) 70%),
    url('../Images/Peruse/CafeExtraJoss.webp');
    background-size: 100%;
    }
}


.Longread-ArticleB {
    background-color: #451212;
    width: 100%;
    height: 400vh;
    z-index: -1;
    position: relative;
    margin: 0;
    padding: 0;
    opacity: 1;
    animation: fade-to-dark linear;
    animation-timeline: view();
    animation-range: 100% 20%; /* Adjust the range to control the fade-to-dark effect */
}

.Longform-Image{
    width: 100%;
    height: 25vh;
    position: relative;
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}

.Longform-Image p{
    position: relative;
    z-index: 2;
    bottom: 0;
}

.Image1{
    background-image: url('../Images/Peruse/ExtraJoss.avif');
}

@keyframes fade-to-dark {
    100% {
        background-color: #451212; /* Start color */
    }
    20% {
        background-color: #000000; /* End color (dark) */
    }
}

.Longread-Content{
    margin: 20px;
    margin-top: 55vh;
    margin-bottom: 50vh
}

@media (max-width: 768px) {
    .Longread-Content{
        margin: 20px;
        margin-top: 25vh;
        margin-bottom: 55vh
    }
}


.Longread-Content p{
    color: #C0C0C0;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
}

.child {
    grid-row-start: 1;
    grid-column-start: 1;
}

.Longread-meta {
    margin-top: 10px;
    font-size: 12px;
}

.Longread-meta h4 {
    color: white;
    font-family: 'Euclid CircularA', sans-serif;
    font-weight: 500;
    font-size: 0.9vw;
    margin: 0;
}

@media (max-width: 768px) {
    .Longread-meta h4  {
        font-size: 0.9rem;
        font-weight: 700;
    }
}

.Longread-meta p{
    color: #C0C0C0;
    font-family: 'Euclid CircularA', sans-serif;
    font-weight: 300;
    font-size: 0.8vw;
    margin: 0;
}

@media (max-width: 768px) {
    .Longread-meta p  {
        font-size: 0.8rem;
        font-weight: 300;
    }
}

.Main-Longread, .Longread-Title p, .Longread-meta{
    margin-left: 30vw;
    margin-right: 30vw;
}

.metabubbles2{
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px; 
    align-items: center;
    margin-bottom: 5px;
}

.tag2 {
    padding: 4px 16px;
    border-radius: 28px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

@media (max-width: 768px) {
    .tag2  {
        font-size: 0.6rem;
        padding: 2px 8px;
        font-weight: 600;
        border-radius: 14px;
        font-size: 10px;
        color: #fff;
    }
}

.finance2 {
    background-color: #DF5F5F;
}

.feature2 {
    background-color: #4EBFAC;
}

.feature2 img{
    width: 24px;
}

@media (max-width: 768px) {
    .feature2 img{
        width: 12px;
    }
}

.tech2 {
    background-color: #3f51b5; 
}


@media (max-width: 768px) {
    .Main-Longread, .metabubbles2, .Longread-Title p, .Longread-meta{
        margin-left: 3vw;
        margin-right: 3vw;
    }
}

.Longread-Title h2{
    font-size: 5rem;
    margin-left: 5vw;
    margin-right: 5vw;
}

.Longread-Title p{
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .Longread-Title h2{
        font-size: 2rem;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .Longread-Title p{
        font-size: 1rem;
        margin-top: 15px;
        font-weight: 400;
    }
}

.Rating {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 7vh;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    padding-bottom: 10vh;
  }

.Rating h3{
    color: black;
    font-weight: 600;
    font-family: 'Euclid CircularA';
}

.Rating p{
    color: #5a5a5a;
    font-family: 'Euclid CircularA';
}

button {
    font-family: 'Euclid CircularA', sans-serif;
  }
  
  .btn {
    background: transparent;
    width: 200px;
    position: relative;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    border-radius: 12px;
    font-weight: 600;
    overflow: hidden;
    text-decoration: none;
  }
  
  /* Initially inactive: grey */
  .btn.inactive {
    color: grey;
    border: 4px solid grey;
  }
  
  /* Active state: green */
  .btn.active {
    color: #4EBFAC;
    border: 4px solid #4EBFAC;
  }
  
  /* Animation classes remain the same */
  .btn-progress {
    width: 80vw;
    color: transparent;
  }
  
  .btn-fill:after {
    content: '';
    background: #4EBFAC;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: 0;
    display: block;
    animation: fill 3.2s linear forwards;
  }
  
  .btn-complete {
    padding: 10px;
    width: 50px;
    color: #fff;
    pointer-events: none;
    position: relative; /* Ensure positioning context for pseudo-element */
  }
  
  .btn-complete:after {
    font-family: 'Euclid CircularA', sans-serif;
    content: "\2713"; /* Unicode check mark */
    color: #fff;
    height: 100%;
    padding-left: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4EBFAC;
  }
  
  @keyframes fill {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
  }

.Range_container {

	display: flex;
	align-items: center;
	justify-content: center;
}

.range-slider {
	position: relative;
	width: 80vmin;
	height: 20vmin;
}

.range-slider_input {
	width: 100%;
	position: absolute;
	top: 50%;
	z-index: 3;
	transform: translateY(-50%);
	-webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  opacity: 0;
	margin: 0;
}

.range-slider_input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
	border-radius: 50%;
	opacity: 0;
}

.range-slider_input::-moz-range-thumb {
  width: 14vmin;
  height: 14vmin;
  cursor: pointer;
	border-radius: 50%;
	opacity: 0;
}

.range-slider_thumb {
	width: 14vmin;
	height: 14vmin;
	border: 1.2vmin solid #303030;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 4vmin;
	color: #303030;
	z-index: 2;
}

.range-slider_line {
	height: 1vmin;
	width: 100%;
	background-color: #e1e1e1;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	position: absolute;
	z-index: 1;
}

.range-slider_line-fill {
	position: absolute;
	height: 1vmin;
	width: 0;
    	background-color: #4EBFAC;
}
