@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-Regular-WebXL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-RegularItalic-WebXL.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-Light-WebXL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-LightItalic-WebXL.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-Medium-WebXL.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-MediumItalic-WebXL.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-Semibold-WebXL.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-SemiboldItalic-WebXL.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-Bold-WebXL.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularA';
    src: url('../fonts/CircularA/EuclidCircularA-BoldItalic-WebXL.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* Circular B */

@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-Regular-WebXL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-RegularItalic-WebXL.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-Light-WebXL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-LightItalic-WebXL.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-Medium-WebXL.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-MediumItalic-WebXL.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-Semibold-WebXL.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-SemiboldItalic-WebXL.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-Bold-WebXL.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid CircularB';
    src: url('../fonts/CircularB/EuclidCircularB-BoldItalic-WebXL.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* Flex */

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Regular-WebXL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-RegularItalic-WebXL.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Thin-WebXL.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-ThinItalic-WebXL.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Ultralight-WebXL.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-UltralightItalic-WebXL.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Light-WebXL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-LightItalic-WebXL.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Medium-WebXL.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-MediumItalic-WebXL.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Semibold-WebXL.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-SemiboldItalic-WebXL.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-Bold-WebXL.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/Flex/EuclidFlex-BoldItalic-WebXL.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #fff; 
    position: relative; 
}

body {
    overflow: hidden;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    overflow-y: scroll; 
  }
  
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 16px;
    margin-top: 20px;
}

.burger-menu {
    position: absolute;
    right: 16px;
    font-size: 32px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.logo {
    height: 40px;
    max-width: 100%;
}

.articleSectionTitle{
    text-align: center;
    margin-top: 10px;
}

.articleSectionTitle h1 {
    color: #aaa;
    font-family: 'Euclid Flex', sans-serif;
    font-weight: 200;
    font-size: 7vw;
    margin: 0 0 8px;
}


@media (max-width: 768px) {
    .article-content h2 {
        font-size: 6rem;
    }
}

.grid-container {
    display: grid;
    gap: 32px;
    padding: 32px;
    margin-bottom: 60px;
}

@media (min-width: 701px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.article {
    overflow: hidden;
}

.article-image {
    width: 100%;
    min-height: 170px;
    height: 20vw;
    max-height: 500px; 
    object-fit: cover; 
    border-radius: 50px;
}

.article-body {
    display: flex;
    padding: 3px;
    padding-left: 20px;
    gap: 10px; 
    flex-wrap: wrap; 
}

@media {
    .article-body {
        flex-direction: row; 
        align-items: flex-start; 
    }

    .article-content {
        flex: 1; 
    }

    .meta {
        flex: 0 0 20%; 
        text-align: right; 
        padding: 8px 10px;
    }
}


.meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    font-size: 12px;
    padding-right: 10px;
}

.metabubbles {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px; 
}

.read-time,
.date {
    text-align: right; 
    margin: 0; 
}

.tag {
    padding: 4px 10px;
    border-radius: 14px;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 4px;
}

.finance {
    background-color: #e91e63;
}

.feature {
    background-color: #4EBFAC;
}

.feature img{
    width: 15px;
}

.tech {
    background-color: #3f51b5; 
}

.read-time {
    color: #aaa;
}

.date {
    color: #777;
}

.article-content {
    padding-left: 0vw;
    flex: 1; 
    min-width: 0;
}

.article-content h2 {
    font-family: 'Euclid CircularA', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    margin: 0 0 8px;
}

@media (max-width: 768px) {
    .article-content h2 {
        font-size: 1.1rem;
    }
}

.article-content p {
    color: #aaa;
    font-family: 'Euclid CircularA', sans-serif;
    font-weight: 300;
    font-size: 1vw;
}

@media (max-width: 768px) {
    .article-content p {
        font-size: 0.7rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:focus,
a:active {
    outline: none;
    color: inherit;
    text-decoration: none;
}

/* Footer */
.footerdiv {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0px 16px;
    z-index: 1000;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer h4 {
    text-align: right;
    margin-right: 5%;
}

.scrollwatcher {
    height: 10px;
    position: fixed;
    background-color: white;
    width: 100%;
    transform-origin: left;
    transform: scaleY(0);
    transition: transform 0.1s ease-out; /* Smooth updates */
}
