font-family: aw-conqueror-didot, serif;
font-weight: 400;
font-style: normal;

font-family: freight-big-pro, serif;
font-weight: 400;
font-style: normal;

font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: normal;

font-family: aktiv-grotesk-extended, sans-serif;
font-weight: 400;
font-style: normal;

font-family: aktiv-grotesk-extended, sans-serif;
font-weight: 800;
font-style: normal;

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 500;
font-style: normal;

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 600;
font-style: normal;

body{
  height: 200vh;
  background-color: white;
  overflow-x: hidden;
}

h1{
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 800;
  font-style: normal;
}

h2{
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h3{
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h4{
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h5{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h6{
  font-family: aw-conqueror-didot, serif;
  font-weight: 400;
  font-style: normal;
}

p{
  font-family: freight-big-pro, serif;
  font-weight: 400;
  font-style: normal;
}

.info{
  z-index: 1;
  padding-left: 2vw;
  padding-top: 2vh;
  position: fixed;
}

.info h3,p{
    font-size: 3em;
}

.infotitle a{
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.infotitle a:hover{
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.infonav a{
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.infonav a:hover{
  color: black;
  font-weight: 600;
  font-size: 2em;
}

.gallery{
  width: 35%;
  min-width: 500px;
  left: 35%;
  position: relative;
  overflow-wrap: break-word;
}

.galleryitem{
  padding: 2vh 0vh;
}

.galleryitem-text h2,p{
  display: flex;
  padding-right: 6px;
}

.galleryitem-text h2{
  font-size: 2em;
  display: inline;
}

.galleryitem-text p{
  display: inline;
  font-size: 2.5em;
}

.galleryitem img{
  width: 100%;
}

.galleryhidden{
  display: none;
}

.galleryitem:hover + .galleryhidden{
  display: block;
}

.barcode{
  border-style: solid;
  margin: 10px;
  padding: 10px 40px;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.barcode img{
  width: 20vw;
  min-width: 350px;
}


#myImg, #myImg1, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6, #myImg7, #myImg8{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover, #myImg1:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, #myImg5:hover, #myImg6:hover, #myImg7:hover, #myImg8:hover{opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 60%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.info h1, h2, h3, h4, h5, h6, p{
  color: black;
}

li{
  text-align: left;
}
