@font-face{
  font-family: "VCR_OSD_MONO";
  src: url("../fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

html, body, *{
  margin: 0px;
  padding: 0px;
overflow-x: hidden;
overflow-y: hidden;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.div_area{
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      z-index: -1;
      display: block;
      background-size:cover;
      width: 100%;
      height: 100%;
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -o-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);
      transform: scale(1.1);
    }

    h3{
      font-family: 'VCR_OSD_MONO', monospace;
      font-size: 1.7rem;
    }

    a {
        background-color: white;
        color: #000;
        text-decoration: none;
      }

    a:hover, a.active {
          background-color: #000;
          color: #fff;
      }


    .CloseIcon{
      font-size: 2em;
      font-family: 'VCR_OSD_MONO', monospace;
      margin-left: 1vw;
    }

      .DisplayOS{
        background: #fff url(../Images/pixel.png) 0 0 repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 0;
        border: 1px solid #000;
        border-radius: 10px;
        box-shadow: 0 0 100px rgb(0 0 0 / 70%);
      }

      .navbar {
        background-color: #fff;
        border-bottom: 1px solid #000;
        display: flex;
        justify-content: space-between;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
}

    .modal-content {
      z-index: 5;
      margin: auto;
      display: block;
      width: 80%;
      max-width: 1000px;
      top: 25vh;
    }

    /* Caption of Modal Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)}
      to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 900px){
      .modal-content {
        width: 100%;
      }
    }
